<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
	<configSections>
		<section name="ServerFileUpload" type="DeepBlue.Helpers.ServerFileUpload, DeepBlue" />
		<section name="WindowsAzureFileUpload" type="DeepBlue.Helpers.WindowsAzureFileUpload, DeepBlue" />
	</configSections>
	<!--
	Server File Upload Configuration-->
	<ServerFileUpload>
		<UploadPathKeys>
			<add key="InvestorDocumentUploadPath" value="Files\InvestorDocuments\{0}\{1}\{2}.{3}" />
			<add key="FundDocumentUploadPath" value="Files\FundDocuments\{0}\{1}\{2}.{3}" />
			<add key="UnderlyingFundDocumentUploadPath" value="Files\UnderlyingFundDocuments\{0}\{1}\{2}.{3}" />
			<add key="DealDocumentUploadPath" value="Files\DealDocuments\{0}\{1}\{2}.{3}" />
			<add key="DealFundDocumentUploadPath" value="Files\DealFundDocuments\{0}\{1}\{2}\{3}.{4}" />
			<add key="DealInvestorDocumentUploadPath" value="Files\DealInvestorDocuments\{0}\{1}\{2}\{3}.{4}" />
			<add key="EquityDocumentUploadPath" value="Files\EquityDocuments\{0}\{1}\{2}.{3}" />
			<add key="FixedIncomeDocumentUploadPath" value="Files\FixedIncomeDocuments\{0}\{1}\{2}.{3}" />
			<add key="TempUploadPath" value="Files\temp\{0}" />
		</UploadPathKeys>
	</ServerFileUpload>
	<!--
	Windows Azure File Upload Configuration-->
	<WindowsAzureFileUpload>
		<StorageConfig>
			<add key="ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=deepblue;AccountKey=z5hiK2+cgRbtxABwOMcdolBVU++xkD4MOqfZga2ueYxxnbkMhlDg6Hy6NrNhv605F9iWbJz/Ps6T4bbJLES/aA==" />
			<add key="BlogContainerName" value="files" />
			<add key="LocalStorageName" value="Temp" />
		</StorageConfig>
		<UploadPathKeys>
			<add key="InvestorDocumentUploadPath" value="InvestorDocuments_{0}_{1}_{2}.{3}" />
			<add key="FundDocumentUploadPath" value="FundDocuments_{0}_{1}_{2}.{3}" />
			<add key="UnderlyingFundDocumentUploadPath" value="UnderlyingFundDocuments_{0}_{1}_{2}.{3}" />
			<add key="DealDocumentUploadPath" value="DealDocuments_{0}_{1}_{2}.{3}" />
			<add key="DealFundDocumentUploadPath" value="DealFundDocuments_{0}_{1}_{2}_{3}.{4}" />
			<add key="DealInvestorDocumentUploadPath" value="DealInvestorDocuments_{0}_{1}_{2}_{3}.{4}" />
			<add key="EquityDocumentUploadPath" value="EquityDocuments_{0}_{1}_{2}.{3}" />
			<add key="FixedIncomeDocumentUploadPath" value="FixedIncomeDocuments_{0}_{1}_{2}.{3}" />
			<add key="TempUploadPath" value="temp_{0}" />
		</UploadPathKeys>
	</WindowsAzureFileUpload>
	<appSettings>
		<add key="CurrentVersion" value="master" />
		<add key="Password.Key" value="7AB3996B-EF9C-4835-8D0A-59B10B4E0150" />
		<add key="Logging.Destination" value="database" />
		<add key="WindowsAzure" value="false" />
	</appSettings>
	<connectionStrings>
		<add name="DeepBlueEntities" connectionString="metadata=res://*/Models.Entity.DeepBlue.csdl|res://*/Models.Entity.DeepBlue.ssdl|res://*/Models.Entity.DeepBlue.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KAR\KARSQLEXPRESS;initial catalog=DeepBlue;persist security info=True;user id=sa;password=raga;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			</assemblies>
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/LogOn" timeout="20160" />
		</authentication>
		<sessionState timeout="20160"></sessionState>
		<pages>
			<namespaces>
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
			</namespaces>
		</pages>
		<customErrors mode="Off"></customErrors>
		<httpRuntime executionTimeout="90" maxRequestLength="1650065408" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true" />
	</system.web>
	<location path="Assets">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Files">
		<system.web>
			<authorization>
				<allow users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="Account">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>