#content, #header, #footer {
	min-width: 1258px;
}
.smalltab {
	background-image: url(../images/smalltabunsel.png);
	background-repeat: repeat-x;
	min-width: 120px;
	float: left;
	height: 27px;
	line-height: 27px;
	text-align: center;
}
.tabsel {
	background-image: url(../images/smalltabsel.png);
}
.last {
	background-image: url(../images/smalltablast.png);
	width: 3px;
	min-width: 3px;
}
#UnderlyingFundDetail {
	float: left;
	width: 100%;
}
#AddUnderlyingFund {
	clear: both;
	float: left;
	margin-top: 10px;
	width: 100%;
}
#AddUnderlyingFund .content {
	clear: both;
	float: left;
	padding-bottom: 30px;
	padding-left: 17px;
}
#AddUnderlyingFund .title {
	background: url(../images/plus.png) no-repeat scroll left top transparent;
	font-size: 14px;
	height: 30px;
	line-height: 15px;
	padding-left: 20px;
	cursor: pointer;
	color: #02766F;
	width: 200px;
	float: left;
	margin: 10px 0px 0px 0px;
	font-weight: bold;
}
#content {
	overflow: hidden;
}
#AddUnderlyingFund .title a {
	color: #7f7f97;
}
#AddUnderlyingFund .expand {
	background-image: url(../images/minus.png);
}
.info-detail {
	width: 90%;
	float: left;
}
.savebox {
	clear: both;
	float: right;
	margin-top: 20px;
	padding-right: 10px;
	width: 250px;
}
.savebox .btn {
	float: right;
}
.savebox .resetbtn {
	float: right;
	font-weight: bold;
	margin-left: 24px;
	margin-top: 5px;
	cursor: pointer;
}
.expandtitle {
	padding-left: 0px;
}
.headerbox {
	padding-left: 65px;
	width: 90%;
}
.detail {
	background-color: #E9EAEC;
	clear: both;
	float: left;
	margin: 0;
	padding: 20px 0;
	width: 100%;
}
.rightdarrow {
	float: right; /*padding-right: 72px;*/
	vertical-align: middle;
	padding-top: 10px;
}
.expandsel {
	margin-top: -2px;
	cursor: pointer;
}
.headerbox {
	float: left;
	cursor: pointer;
}
.editor-field select {
	width: 168px;
}
.editor-field input[type="text"] {
	width: 160px;
}
.editor-field input.ui-autocomplete-input[type="text"] {
	width: 130px;
}
.expandbtn {
	width: 90%;
}
.headerbar .leftcol {
	font-size: 18px;
	text-shadow: #0B0B0B 1px 1px 1px;
	filter: Shadow(Color=#0B0B0B,Direction=135,Strength=2);
}
#UnderlyingFundListBox {
	width: 90%;
	padding-left: 60px;
	clear: both;
}
.tab-delete {
	background-image: url("../images/tabdelete.png");
	background-position: left top;
	background-repeat: no-repeat;
	cursor: pointer;
	float: left;
	height: 16px;
	margin: 7px 0 0 -15px;
	width: 16px;
}
#AnnualMeetingDateList {
	width: 400px;
	margin: 0 auto;
}
#AddressInformation {
	padding-left: 66px;
}
#BankInformation {
	padding-left: 66px;
}
#AddressInformation .editor-label {
	width: 75;
}
#BankInformation .editor-label {
	padding-right: 5px;
}
#AddressInformation .editor-field input.ui-autocomplete-input[type="text"] {
	width: 118px;
}
#AddressInformation .editor-label {
	width: 65px;
}
#AddressInformation .editor-field {
	width: 165px;
}
#AddressInformation .address {
	width: 407px;
}
#AddressInformation .editor-field input[type="text"] {
	width: 100%;
}
#AddressInformation .savebox, #BankInformation .savebox {
	padding-right: 15px;
}
.editor-field {
	width: 181px;
}
.flexigrid .grid tr.un-directedit-box {
	background-image: none;
	background-color: #E9E9E9;
}
.grid tr td.flex-box-top, .grid tr td.flex-box-bottom {
	background-image: none;
	height: 4px;
	padding: 0;
}
.grid tr td.middlec, .grid tr td.topl, .grid tr td.topc, .grid tr td.topr, .grid tr td.bottoml, .grid tr td.bottomc, .grid tr td.bottomr {
	padding: 0;
}
.uf-btn-box {
	padding-right: 48px;
}
