.smalltab {
	background-image: url(../images/smalltabunsel.png);
	background-repeat: repeat-x;
	min-width: 120px;
	float: left;
	height: 27px;
	line-height: 27px;
	text-align: center;
}
.tabsel {
	background-image: url(../images/smalltabsel.png);
}
.last {
	background-image: url(../images/smalltablast.png);
	width: 3px;
	min-width: 3px;
}
#UnderlyingFundDetail {
	float: left;
	width: 100%;
}
#cntbox {
	top: 97px;
}
#AddUnderlyingFund {
	clear: both;
	float: left;
	margin-top: 20px;
}
#AddUnderlyingFund .content {
	clear: both;
	float: left;
	padding-bottom: 30px;
}
#AddUnderlyingFund .title {
	background: url(../images/plus.png) no-repeat scroll left top transparent;
	font-size: 14px;
	height: 30px;
	line-height: 15px;
	padding-left: 20px;
	cursor: pointer;
	color: #02766F;
	width: 200px;
	float: left;
	margin: 10px 0px 0px 90px;
	font-weight: bold;
}
#content {
	overflow: hidden;
}
#AddUnderlyingFund .title a {
	color: #7f7f97;
}
#AddUnderlyingFund .expand {
	background-image: url(../images/minus.png);
}
.savebox {
	float: right;
	clear: both;
	margin-top: 10px;
	margin-right: 47%;
}
.savebox .btn {
	float: left;
}
.savebox .resetbtn {
	float: left;
	font-weight: bold;
	margin-left: 24px;
	margin-top: 5px;
	cursor: pointer;
}
.expandtitle {
	padding-left: 51px;
}
.headerbox {
	padding-left: 30px;
	width: 100%;
}
.detail {
	background-color: #E9EAEC;
	clear: both;
	float: left;
	margin: 0;
	padding: 20px 0;
	width: 100%;
}
.editor-field input[type='checkbox'] {
	margin-top: 5px;
	margin-left: 7px;
}
.rightdarrow {
	float: right;
	padding-right: 93px;
	vertical-align: middle;
	padding-top: 10px;
}

.expandsel {
	margin-top: -2px;
	cursor: pointer;
}
.headerbox {
	float: left;
	cursor: pointer;
}
.editor-field select {
	width: 168px;
}
.editor-field input[type="text"] {
	width: 160px;
}
.editor-field input.ui-autocomplete-input[type="text"] {
    width: 144px;
}