#content {
	background-image: url("../images/menu_bg_bot.gif");
	background-repeat: repeat-y;
}
#leftmenu {
	float: left;
	width: 282px;
	display: block;
}
.admin-main {
	float: left;
	width:74%;
}
#cntbox {
	overflow: hidden;
}
#leftmenu li {
	height: 28px;
	list-style: none outside none;
	padding: 15px 0 0 68px;
	text-align: left;
}
#leftmenu li.sel {
	background-image: url("../images/left_menu_sel.gif");
	background-repeat: repeat-x;
}
#leftmenu li a {
	color: #58B6B5;
}
#leftmenu li.sel a {
	color: #fff;
}
#leftmenu .menubox {
	background-image: url("../images/left_bg.gif");
	background-repeat: repeat-x;
	min-height: 419px;
}
.admin-content {
	float: left;
	clear: both;
	margin: 20px;
	min-width:685px;
	width:95%;
}
.green-btn {
	margin: 0;
}
.hide {
	display: none;
}
.show {
	display: inline-block;
}
