.cc-main, .cc-header {
	width: 100%;
	float: left;
}
.editor-label {
	width: 160px;
}
.editor-field {
	width: 125px;
}
.editor-field input[type="text"], .editor-field input[type="password"] {
	width: 110px;
}

#ManFeeMain .editor-field {
	width: auto;
}
#ccduedatelbl {
	width: 205px;
}
#feeamountlbl{
	width:auto;
	padding-left:10px;
}
.fromcell {
	width: auto;
	clear: right;
	text-align: right;
	padding-right: 0px;
}
.TierDetail-Main {
	clear: both;
	width: 600px;
}
.list {
	clear: both;
}
.cc-manual {
	clear: both;
	margin-left: 65px;
	width: 90%;
}
 
.bDiv td div input {
	width: 96%;
}
.cc-manual-detail {
	clear: both;
}
.cc-manual-detail table {
	width: 100%;
}
.cc-manual-detail table td {
	padding: 5px 0px 5px 0px;
}
.investor-detail {
	clear: both;
	width: 100%;
}
label {
	color: #000;
}
.cc-box {
	float: left;
	clear: both;
	width: 100%;
	position: relative;
}
.section {
	float: left;
	margin: 10px 48px;
}
.cell {
    float: left;
    height: 20px;
    line-height: 25px;
    margin-right: 10px;
    width: 180px;
}
.ccdetail .cell {
    margin: 0 20px;
    padding-top: 6px;
    white-space: nowrap;
    width: auto;
}
#SerCCTab, #SerCDTab {
	float: right;
	padding: 9px 0px 0 0px;
	margin: 0px;
}
.cc-box-main {
	float: left;
	width: 100%;
	clear: both;
}
.cc-box .header {
	position: relative;
	height: 40px;
}
.cc-box-det {
	clear: both;
	float: left;
	padding:4px 20px 0 42px;
}

.mancctbl {
	width: 95%;
}
.mancctbl td {
	padding: 10px 10px 10px 5px;
	text-align: right;
}
.tabbg {
	background-image: url("../images/tabbg.png");
	background-position: left bottom;
	background-repeat: repeat-x;
	float: left;
	height: 43px;
	padding-bottom: 0;
	position: absolute;
	left: 0;
	right: 0;
}
.tabinnerbox {
	float: left;
	width: 90%;
	padding-left: 65px;
}
#ManualCapitalCall .cc-box-det {
	padding-left:29px;
}
.closetitle {
    background-color: #FFFFFF;
    background-image: url("../images/header_bg.gif");
    background-repeat: repeat-x;
    clear: both;
    color: #354866;
    float: left;
    font-size: 16px;
    font-weight: bold;
    height: 41px;
    margin: 10px 0 0 65px;
    padding: 20px 0 4px;
    width: 90%;
}
.closetitle .title {
    padding-left: 20px;
    white-space: nowrap;
}
.closetitle .title {
    float: left;
    margin: 5px 99px 0 0;
    width: 150px;
}
.tabledetail {
    padding-bottom: 5px;
}
.dc-box {
    clear: both;
    float: left;
    width: 100%;
}
.tabledetail .gbox, .section .gbox {
    margin-left: 65px;
}
.gbox {
    background-image: url("../images/line.png");
    background-position: left top;
    background-repeat: repeat-x;
    padding-top: 2px;
}
#NewCapitalDistribution .cc-box-det {
	padding-left: 30px;
}
.editor-button {
	  padding-top: 15px;
}
#ManualCapitalDistribution .cc-box-det{
	padding-left: 34px;
}