.report-content {
	color: #000;
	width: 100%;
	padding-left: 65px;
	width: 90%;
	float: left;
	clear: both;
	margin: 25px 0;
}
.report-content a {
	color: #000;
}

.left-col {
	float: left;
}
.right-col {
	float: right;
	padding-left: 85%;
}
.export {
	font-size: 14px;
}
.export a {
	color: #000;
	margin: 0 15px 0 0;
}
#SpnFundName {
	font-size: 14px;
}

.grid .report_tr th {
	background-color: #B0BCCA;
	background-image: none;
	border-bottom: 1px solid #B5B5B5;
}
#ReportList .sorted span {
	background-image: url(../images/sort_up.png);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 15px;
}
#ReportList .sdesc span {
	background-image: url(../images/sort_down.png);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 15px;
}
#ExportMenu {
	display: none;
	position: absolute;
	width: 120px;
	border: 1px solid gray;
}
#ExportMenu ul li {
	background-color: #FFFFFF;
	color: #000000;
	padding: 5px;
	list-style: none;
}
#ExportMenu ul li a {
	color: #000000;
}
#ExportMenu .sel {
	background-color: #B4AFAF;
}
#ExportMenu .sel a {
	color: #fff;
}
.grid .expandRowBg {
	background-color: transparent;
	padding: 0;
}
.grid .expandRowBg {
	background-image: none;
}
.grid .expandrow td {
	border-bottom: solid 1px #cacaca;
	background-image: none;
}
.grid .tblUnderlyingFund_tr th {
	/*background-image: none;
	border-top: solid 1px #b5b5b5;*/
}
.grid .subdet-title th {
	background-color: #d3d4d8;
	background-image: none;
	font-size: 16px;
	height:65px;
	background-image: url("../images/header_bg.gif");
	background-repeat: repeat-x;
    font-weight: bold;
    height: 65px;
    text-shadow: none;	
	filter: none;	
}
.tblUnderlyingDirect_tr th {
	background-color: #BABFC5;
	height: 30px;
}

.blue {
	color: Blue;
}
#innerdealmenu {
	background-image: url("../images/fsmbg.png");
	background-repeat: repeat-x;
	height: 40px;
	padding-left: 50px;
}

.left_title {
	float: left;
	font-size: 16px;
	font-weight: bold;
}
.fundimg {
	padding-top: 2px;
	float: right;
}
.treerow {
	padding: 20px 0 0;
	background-color: #E4E5EA;
	margin-bottom: 20px;
}

.titlebox {
	margin: 10px 0px 10px 65px;
	clear: both;
	float: left;
	width: 90%;
}
.export .menu {
	background-image: url("../images/expdown.png");
	background-position: right center;
	background-repeat: no-repeat;
	float: left;
	font-size: 12px;
	height: 17px;
	overflow: hidden;
	margin-right: 10px;
	width: 43px;
}
.exportlist {
	display: none;
}
.exportlist li {
	list-style: none;
	margin: 0 10px 0 0;
}
.exportlist li a {
	color: #000;
}
.export .print {
	float: left;
	margin: 0 15px 0 0;
}
.export .darrow {
	margin: 0 0 0 5px;
	float: left;
}
.grid .rep_tfoot tr td {
	background-image: none;
	background-color: transparent;
}
.rep_tfoot tr td a {
	text-decoration: underline;
	font-size: 11px;
}
.grid #row0, .grid #Row0{
  background-image: url("../images/table_row_odd.gif");
}
