.cell {
	width: 180px;
	float: left;
	height: 25px;
	line-height: 25px;
	margin-right: 10px;
}
.auto {
	width: auto;
}
.fieldbox {
	clear: both;
	margin: 15px 0px 15px 5px;
	float: left;
	width: 100%;
	clear: both;
	display: none;
}
.rdo input {
	width: auto;
}
.checkbox, .rdo input {
	border: 0px;
	margin-top: 2px;
}
.editor-label {
	text-align: right;
	line-height: 20px;
	text-align: right;
}
.editor-field {
	width: 180px;
}
h5, .editor-label, .editor-field {
	color: #636262;
}
.editor-label input, .editor-field input {
	border: solid 1px #d9d9d9;
	padding: 3px;
	color: #7f7f97;
}
h5 {
	font-size: 15px;
	font-weight: normal;
}
.grid {
	width: 100%;
}
.grid th img, .grid td img {
	cursor: pointer;
}
.grid th, .grid td {
	padding: 2px;
	color: #7f7f7f;
}
.grid th {
	font-weight: normal;
}
.grid tbody tr {
	background-color: #f2f2f2;
}
.grid .emptyrow td {
	background-color: White;
	padding: 0;
}
.expandbtn {
	cursor: pointer;
}
#DealDeail {
	float: left;
}
.grid input, .grid select {
	width: 98%;
}
.grid .blank {
	background-color: #fff;
}
#tblDealExpense tr td {
	text-align: center;
}
.line {
	height: 1px;
	margin: 5px 0px 5px 0px;
	background-color: #E3E3E3;
	clear: both;
	width: 100%;
}
h4 {
	font-size: 16px;
	font-weight: normal;
	text-align: left;
}
h4 a {
	text-decoration: underline;
	color: #558EE3;
	white-space: nowrap;
}
.fundname {
	width: 200px;
	overflow: hidden;
	float: left;
}
.searchdeal {
	font-size: 12pt;
}
.hide {
	display: none;
}
.show {
	display: inline-block;
}
.seefull {
	clear: both;
	float: right;
	color: #fff;
	font-size: 15px; margin-top:-5px;
}
.seefull a {
	color: #fff;
}
.auto-width {
	width: auto;
}
.checkbox input {
	border: 0px;
}
.make {
	font-size: 12px; margin-left:50px;
	color: #4E98BF;
	text-decoration: none;
}
.makenew-header{
	 float: left; padding-top: 10px; display: none;
}