.editor-label {
	text-align: left;
	width: 85px;
}
.closebox {
	clear: both;
	margin-left: 5px;
}
.auto-width {
	width: auto;
}
.checkbox {
	padding-top: 10px;
}
.grid tr td, .grid tr th {
	padding: 0 5px;
}
#DealCloseList.grid tr td, #DealCloseList.grid tr th {
	padding: 0 15px;
}
input[type='text'] {
	padding: 3px;
}
.dc-box {
	float: left;
	clear: both;
	width: 100%;
}
.fundslist {
	float: left;
	clear: both;
	width: 100%;
}
#NewDealClose, #FinalDealClose {
	float: left;
	width: 100%;
}
.savefooter {
	float: left;
	width: 90%;
	margin: 5px 0;
	padding-left:65px;
}
.savefooter .cell {
	float: right;
	width: auto;
	padding-right: 0px;
	font-size: 12px;
	height: auto;
	margin-right:0px;
}
.closetitle {
	background-color: #FFFFFF;
	clear: both;
	color: #354866;
	float: left;
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0 0px 65px;
	padding: 20px 0px 4px 0px;
	width: 90%;
	height:41px;
	background-image: url("../images/header_bg.gif");
	background-repeat: repeat-x;
}
.closetitle .title {
	float: left;
	margin: 5px 99px 0 0;
	width: 150px;
}
.closedetail {
	clear: both;
	margin: 10px 0 0px 65px;
	float: left;
}
.tabledetail {
	padding-bottom: 5px;
}
.underfund {
	background-image: url("../images/add_under_funds.png");
	background-repeat: no-repeat;
	float: right;
	height: 30px;
	padding-left: 59%;
	width: 153px;
}
.underDirect {
	background-image: url("../images/add_under_directs.png");
	background-repeat: no-repeat;
	float: right;
	height: 30px;
	padding-left: 59%;
	width: 153px;
}
.act-box {
	float: left;
	width: 100%;
	/*background-image: url(../images/acboxbg.png);
	background-position: left top;
	background-repeat: repeat-x;*/
}
.headerbox {
	width: 90%;
	padding-left: 65px;
	background-image: url(../images/actdownarrow.png);
	background-position: right center;
	background-repeat: no-repeat;
	float: left;
	cursor: pointer;
}
.headerbox .title {
	background: url(../images/greenplus.png) no-repeat scroll left top transparent;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	color: #005F54;
	width: 200px;
	float: left;
	margin: 10px 0;
	padding: 0 0 0 24px;
}
#LoadingDetail {
	height: 25px;
	margin: 0 auto;
	padding: 0 0 0 30px;
	width: 200px;
}

#DealCloseMain {
	float: left;
}
.expandsel {
	margin-top: 0px;
	cursor: pointer;
}
.closing-det {
	margin-top: -2px;
}
.expandaddbtn {
	position: absolute;
	left: 233px;
	margin-top: 2px;
}
.expandtitle span {
	/*padding-left: 65px;*/
}
.closetitle .title {
	padding-left: 20px;
	white-space: nowrap;
}
.tabledetail .gbox, .section .gbox {
	margin-left: 65px;
}
.expandsel .rightuarrow {
	/*margin-right: 61px;*/
	margin-top: 12px;
}
 