.cell {
	width: 180px;
	float: left;
	height: 25px;
	line-height: 25px;
	margin-right: 10px;
	font-weight: bold;
}
.cell a {
	color: Black;
}
.auto {
	width: auto;
}
.fieldbox {
	clear: both;
	margin: 15px 0px 15px 5px;
	float: left;
	width: 100%;
	clear: both;
	display: none;
}
.rdo input {
	width: auto;
}
.checkbox, .rdo input {
	border: 0px;
	margin-top: 2px;
}
.editor-label {
	text-align: right;
	line-height: 20px;
	text-align: right;
}
.editor-field {
	width: 180px;
}
h5, .editor-label, .editor-field {
	color: #000;
}
h5 {
	font-size: 16px;
	font-weight: bold;
}
.expandbtn {
	cursor: pointer;
	float: left;
	width: 10%;
}
#DealDeail {
	float: left;
}
h4 {
	font-size: 16px;
	font-weight: normal;
	text-align: left;
}
h4 a {
	text-decoration: underline;
	color: #558EE3;
	white-space: nowrap;
}
.fundname {
	width: 200px;
	overflow: hidden;
	float: left;
}
.hide {
	display: none;
}
.show {
	display: inline-block;
}
.seefull {
	clear: both;
	float: right;
	color: #fff;
	font-size: 12px;
	margin-top: -5px;
}
.seefull a {
	color: #fff;
}
.auto-width {
	width: auto;
}
.checkbox input {
	border: 0px;
}
.make {
	font-size: 12px;
	margin-left: 50px;
	color: #4E98BF;
	text-decoration: none;
}
.makenew-header {
	float: left;
	padding-top: 10px;
	display: none;
}
.right-search {
	float: right;
	margin: 5px 0 5px 0;
}
.left-search {
	float: left;
	margin: 5px 0 5px 0;
	padding-top: 10px;
}
.blue {
	color: Blue;
}
.dealdetail {
	float: left;
}
.dealdetail .cell {
	font-size: 14px;
	font-weight: bold;
}
.section {
	margin: 15px 65px;
	float: left;
	width: 100%;
}
#DealMain .content {
	clear: both;
	float: left;
	width: 100%;
}
.expandheader, .recon-expandheader {
	padding: 0px 0px 0px 65px;
	cursor: pointer;
	float: left;
	width: 90%;
	background-image: url(../images/downarrow.png);
	background-position: center right;
	background-repeat: no-repeat;
}
.expandheader .expandimg, .recon-expandheader .expandimg {
	padding: 15px 0 8px 0;
}
.expandsel {
	background-image: url(../images/expandbg.png);
	background-repeat: repeat-x;
	background-position: left top;
	height: 50px;
	line-height: 50px;
	color: #fff;
	font-size: 14px;
	padding: 0 0 0 70px;
	width: 100%;
}
.expandheader #title, .recon-expandheader #title {
	display: none;
}
.expandimg {
	float: left;
}
.expandtitle, .recon-expandtitle {
	float: left;
	width: 200px;
	white-space: nowrap;
}
.expandaddbtn {
	float: left;
	padding-left: 30px;
	display: none;
	width: 151px;
	height: 31px;
	margin: 10px 0 0 70px;
	line-height: 33px;
}
.expandaddbtn a {
	color: #000;
	font-size: 11px;
	font-weight: bold;
}
#SellerInfo {
	background-color: #E9EAEC;
	float: left;
	width: 100%;
}
.headerbar {
	background-image: url(../images/expandbg.png);
	height: 50px;
	line-height: 50px;
	color: #fff;
	font-size: 14px;
	padding: 0px 0 0 65px;
}
.headerbar .leftcol {
	float: left;
}
.ddleft {
	background-image: url(../images/dropdown_l.png);
	float: left;
	height: 27px;
	width: 6px;
}
.ddcenter {
	background-image: url(../images/dropdown_c.png);
	background-repeat: repeat-x;
	float: left;
	height: 27px;
	width: 150px;
}
.ddright {
	background-image: url(../images/dropdown_r.png);
	float: left;
	height: 27px;
	width: 28px;
}
.subheader {
	background-image: url(../images/dir_subheadbg.png);
	background-repeat: repeat-x;
	height: 130px;
}

.close {
	clear: right;
	float: right;
	margin-right: 120px;
	margin-top: -20px;
}
.direct {
	float: right;
	padding-right: 120px;
	padding-bottom: 100px;
}
.issuerbtn {
	float: right;
	padding-left: 30px;
	display: none;
	background-image: url(../images/btn_issuer.png);
	background-repeat: no-repeat;
	width: 252px;
	height: 31px;
	margin: 10px 0 0 70px;
	line-height: 33px;
}
.issuerbtn a {
	color: #000;
	font-size: 11px;
	font-weight: bold;
}
#divPartnerName {
	clear: right;
	width: auto;
	display: none;
	padding: 0;
	margin: 0;
}
.expandsel .rightuarrow {
	background-image: url("../images/rightuarrow.png");
	background-repeat: no-repeat;
	float: right;
	height: 9px;
	margin-right: 132px;
	margin-top: 21px;
	width: 16px;
}
 