#equitytab {
	width: 109px;
	height: 27px;
	float: left;
	background-image: url(../images/equitytab.png);
	background-repeat: no-repeat;
	cursor: pointer;
}
#fitab {
	width: 98px;
	height: 27px;
	float: left;
	background-image: url(../images/fitab.png);
	background-repeat: no-repeat;
	cursor: pointer;
}
#equitytab.sel {
	width: 98px;
	background-image: url(../images/equitytabsel.png);
}
#fitab.sel {
	width: 109px;
	background-image: url(../images/fitabsel.png);
}
.last {
	background-image: url(../images/smalltablast.png);
	width: 3px;
	min-width: 3px;
}
.subheader {
	padding-top: 30px;
}
.tabcell {
	width: 180px;
	height: 25px;
	line-height: 25px;
	margin-right: 10px;
}

#equitysymboldiv, #fixincomediv {
	float: left;
	background-color: #CBD2DA;
	padding: 20px;
	width: 100%;
}
.subdetail {
	width: 100%;
	float: left;
	margin-top: 20px;
}
#EQdetail, #FixedIncome, #DirectMain, #IssuerDetail {
	width: 100%;
	float: left;
}
#IssuerDetail { margin-top:20px; }
.direct {
	float: right;
	padding-right: 235px;
	padding-bottom: 100px;
	margin-top: 20px;
}
.addissuer {
	float: right;
	clear: both;
	margin-right: 22%;
	margin-top: 20px;
}
.addissuer .btn {
	float: left;cursor:pointer;
}
.addissuer .btnclose {
	float: left;
	margin-left: 35px;
	margin-top: 10px; cursor:pointer;
}
.editor-field input[type='checkbox']{
   margin-top: 5px;
}
.addbtn {
	float: left;
	margin-left: 123px;
	margin-top: 6px;
}
#DirectDetailBox { float:left; position:absolute; top:98px; bottom:0px; width:100%; overflow:auto; overflow-x:hidden; }