.editor-label {
	text-align: left;
	width: 85px;
}
.closebox {
	clear: both;
	margin-left: 5px;
}
.grid {
	width: 99%;
}
.grid tr th {
	white-space: nowrap;
}
.auto-width {
	width: auto;
}
.checkbox {
	padding-top: 10px;
}
.grid th, .grid td {
	padding: 5px 10px 5px 5px;
}
input[type='text'] {
	padding: 3px;
}
.dc-box {
	float: left;
	clear: both;
	width: 100%;
}

.fundslist {
	float: left;
	clear: both;
	width: 100%;
}
#NewDealClose, #FinalDealClose {
	float: left;
	width: 100%;
}
.grid .arow td {
	background-color: #bfbfbf;
}
.savefooter {
	float: left;
     width: 97%;margin:20px 0px 20px 0px;
}
.savefooter .cell {
	float: right;
	width: auto;
	padding-right: 10px;
	font-size: 12px;
	height: auto;
}
.closetitle {
	    background-color: #FFFFFF;
    clear: both;
    color: #354866;
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 30px;
    padding: 12px 12px 12px 65px;
    width: 100%;
}
.closedetail {
	clear: both;
	margin: 10px 0 10px 65px;
	float: left;
}
.tabledetail { padding-left:65px; }