input[type="image"]{
    margin: 8px 0 0;
}
.editor-label {
	width: 180px;
}
.editor-field {
	width: auto;
}
.status {
	width: 65%;
}
#AddNewCD {
	width: 100%;
	text-align: center;
}
#ActivityMain .header {
	font-size: 16px;
}
#content {
	overflow: hidden;
}
#cntbox {
	top: 98px;
}
#ActivityMain {
	float: left;
	clear: both;
	width: 100%;
}
#ActivityMain .content {
	float: left;
	clear: both;
	width: 100%;
}
#ActivityMain .detail {
	display: none;
	clear: both;
	float: left;
	width: 100%;
}
#ActivityMain .title {
	background: url(../images/greenplus.png) no-repeat scroll left top transparent;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	color: #06605B;
	width: 500px;
	float: left;
	margin: 10px 0;
	padding: 0 0 0 24px;
	text-transform: uppercase;
}
#ActivityMain .title a {
	color: #7f7f97;
}
#ActivityMain .search-tool {
	display: none;
	float: left;
}
.act-box {
	float: left;
	width: 100%;
	background-image: url(../images/acboxbg.png);
	background-position: left top;
	background-repeat: repeat-x;
}
.group {
	float: left;
	width: 100%;
}
.headerbox, .recon-headerbox {
	width: 90%;
	padding-left: 65px;
	background-image: url(../images/actdownarrow.png);
	background-position: right center;
	background-repeat: no-repeat;
	float: left;
	cursor: pointer;
}
.cell {
	float: left;
	width: auto;
	padding: 0px;
	margin: 0px;
	height: auto;
}
.cell input[type="text"], .cell select {
	width: 189px;
}
.cell .checkbox {
	width: auto;
}
.title .cell {
	padding: 0px;
}
#ActivityMain .title .cell a {
	font-size: 12px;
	color: Blue;
}
.search-header {
	font-size: 15px;
	font-weight: bold;
	clear: both;
	float: left;
	margin: 5px 0px 5px 65px;
	color: #000;
	width: 50%;
}
.loading {
	margin-left: 435px;
}
.grid tbody tr.newrow {
	background-color: #DCE6F2;
}
.act-group {
	float: left;
	width: 100%;
}
.header a {
	margin: 20px;
}
.cell input.default-button {
	width: auto;
	border: 0px;
}
.sec-box {
	float: left;
	margin-bottom: 10px;
	width: 100%;
}
.subheading {
	font-size: 16px;
	font-weight: bold;
	clear: both;
	float: left;
	color: #000;
	margin: 10px;
}
#SecurityActivity {
	background-color: #E9EAEC;
}
 
.paging {
	float: right;
	font-size: 12px;
}
.paging a {
	color: #977F7F;
	margin: 5px;
}
.paging .cell {
	padding: 0;
	margin: 0 0 0 20px;
}
.tabbg {
	background-image: url("../images/tabbg.png");
	background-position: left bottom;
	background-repeat: repeat-x;
	float: left;
	height: 44px;
	padding-bottom: 0;
	padding-left: 65px;
	width: 100%;
}
.gridbox {
	margin: 0 0 5px 65px;
	width: auto;
	float: left;
	clear: both;
	width: 90%;
}
.subheader {
	clear: both;
	color: #F7F7F7;
	float: left;
	font-size: 18px;
	padding-left: 20px;
	width: 98.3%;
}
.addbtn {
    color: #F7F7F7;
    float: left;
    font-size: 12px;
    left: 315px;
    min-width: 640px;
    position: absolute;
    width: 64%;
}
.addbtn .tblcell {
	float: left;
    margin:0 10px;
}
.addbtn .tblcell input
,.addbtn .tblcell select
{
	margin:4px 0 0;
}
.addbtn .tblcell input[type="checkbox"]{
	margin:8px 0 0;
}
.addbtn .tblcell .green-btn{
	margin:0;
	padding:0;
}
.addbtn .rightcell {
	float: right;
}
.subheader .name {
	float: left;	
	text-shadow: #0B0B0B 1px 1px 1px;
	filter: Shadow(Color=#0B0B0B,Direction=135,Strength=2);
}
.subheader .addbtn{
	padding:2px 0 0 0;
}
#ConversionDetail input[type='text'] {
	width: 200px;
}
#ConversionDetail select {
	width: 204px;
}
#ConversionDetail #ConversionDate {
	width: 120px;
}
#FEFooter td {
	text-align: center;
	background-color: transparent;
	border: 0px;
}
.loadingcell {
	height: auto;
	margin: 0;
	padding: 0;
	width: auto;
	float: right;
}
.selectloading {
	float: left;
	margin: 10px;
	font-weight: normal;
}
.childrowcell {
	background-color: transparent;
}
.ismanual {
}
.rightsbox {
	display: block;
	float: right;
	margin-right: 15%;
}
.manualact {
	float: left;
	padding: 0pt;
	font-size: 12px;
	margin: -8px 0pt 0pt 80px;
}
#ReconcilReport .gridbox {
	margin-top: 20px;
	margin-bottom: 20px;
}
.expandsel {
	margin-top: -2px;
}
.expandbtn {
	background-image: url("../images/rightuarrow.png");
	background-position: right center;
	background-repeat: no-repeat;
}
.act-box .expandsel {
	background-image: url("../images/expandbgnoline.png");
	margin-top: 0px;
}
.tblcell .green-btn{
	margin-top:4px;
}
#StockDistributionList .newrow td input{
	width: 110px;
}