.editor-label {
	width: 180px;
}
.editor-field {
	width: auto;
}
.status {
	width: 65%;
}
#AddNewCD {
	width: 100%;
	text-align: center;
}
.grid tfoot tr td {
	text-align: center;
}
.grid th, .grid td {
	padding: 6px;
}
#ActivityMain .header {
	margin: 10px 0px 10px 0px;
	font-size: 16px;
	position: absolute;
}
#content {
	overflow: hidden;
}
#ActivityMain .content {
	clear: both;
	position: absolute;
	top: 35px;
	bottom: 0px;
	width: 100%;
	overflow: auto;
}
#ActivityMain .detail {
	display: none;
	clear: both;
	float: left;
	width: 100%;
}
#ActivityMain .title {
	background: url(../images/plus.png) no-repeat scroll left top transparent;
	font-size: 14px;
	height: 30px;
	line-height: 24px;
	padding-left: 28px;
	cursor: pointer;
	color: #977f7f;
	width: 200px;
	float: left;
}
#ActivityMain .title a {
	color: #7f7f97;
}
#ActivityMain .expand {
	background-image: url(../images/minus.png);
}
#ActivityMain .search-tool {
	display: none;
	float: left;
}
.group {
	float: left;
	margin: 10px;
	width: 98%;
}
.cell {
	float: left;
	width: auto;
	padding: 0px 20px 0px 20px;
	color: #977f7f;
	margin: 0px 20px 0px 10px;
	height: auto;
}
.cell input[type="text"], .cell select {
	width: 189px;
}
.cell .checkbox {
	width: auto;
}
.cell a {
	color: #4E98BF;
}
.title .cell {
	padding: 0px;
}
#ActivityMain .title .cell a {
	font-size: 12px;
	color: Blue;
}
.search-header {
	font-size: 13px;
	font-weight: bold;
	clear: both;
	float: left;
	margin-left: 28px;
	color: #977f7f;
	width: 97%;
}
input, select {
	padding: 3px;
}
.grid input, .grid select {
	width: 95%;
}
.loading {
	margin-left: 435px;
}
.grid tbody tr.newrow {
	background-color: #DCE6F2;
}
.act-group {
	float: left;
	width: 100%;
}
.header a {
	color: #977f7f;
	margin: 20px;
}
.header a.select {
	color: #9381bd;
}
.cell input.default-button {
	width: auto;
	border: 0px;
}
.sec-box {
	float: left;
	margin-bottom: 10px;
	width: 100%;
}
.heading {
	font-size: 13px;
	font-weight: bold;
	clear: both;
	float: left;
	color: #977f7f;
	margin: 10px;
}
.editor-label input, .editor-field input {
	padding: 6px;
}
.editor-label {
	padding: 8px;
}
#FLE {
	float: left;
	clear: both;
	margin: 15px 0px 0px 17px;
	width: 99%;
}
#FLE .cell {
	margin: 5px;
	padding: 0px;
}
.paging { float:right; font-size:12px; }
.paging a { color:#977F7F;   margin:5px;   }
.paging .cell { padding:0;margin:0 0 0 20px; }