#equitytab {
	width: 61px;
	height: 27px;
	float: left;
	background-image: url(../images/equitytab.png);
	background-repeat: no-repeat;
	cursor: pointer;
}
#fitab {
	width: 109px;
	height: 27px;
	float: left;
	background-image: url(../images/fitab.png);
	background-repeat: no-repeat;
	cursor: pointer;
}
#equitytab.sel {
	width: 68px;
	background-image: url(../images/equitytabsel.png);
}
#fitab.sel {
	width: 98px;
	background-image: url(../images/fitabsel.png);
}
.last {
	background-image: url(../images/smalltablast.png);
	width: 3px;
	min-width: 3px;
}
.subheader {
	padding-top: 30px;
}
.tabcell {
	width: 180px;
	height: 25px;
	line-height: 25px;
	margin-right: 10px;
}
.subdetail {
	width: 100%;
	float: left;
	margin-top: 10px;
}
#EQdetail, #FixedIncome, #DirectMain, #IssuerDetail {
	width: 100%;
	float: left;
}
#IssuerDetail {
	margin-top: 10px;
}
.direct {
	float: right;
	padding-right: 0px;
	padding-bottom: 23px;
	margin-top: 20px;
}
.addissuer {
	float: left;
	clear: both;
	/*margin-right: 22%;*/
	margin-top: 20px;
	width:723px;
}
.addissuer .btn {
	float: right;
	cursor: pointer;
}
.addissuer .btnclose {
	float: right;
	margin-left: 35px;
	margin-top: 10px;
	cursor: pointer;
}
#DirectDetailBox {
	float: left;
	width: 100%;
}
#equitysymboldiv {
	padding-top: 100px;
	padding-bottom: 30px;
}
#equitysymboldiv table {
	background-color: #cbd2DA;
	line-height: 35px;
}
#fixincomediv {
	padding-top: 100px;
	padding-bottom: 100px;
}
#fixincomediv table {
	background-color: #cbd2DA;
	line-height: 35px;
}
#equitysymboldiv, #fixincomediv, #fidocument, #eqdocument {
	clear: both;
	float: left;
	background-color: #CBD2DA;
	padding: 20px 20px 20px 0px;
	min-width: 960px;
}
#existingEquity {
	clear: both;
	float: left;
	display: none;
	width: 85%;
	margin-left: 10px;
}
.db-tab {
	float: left;
	clear: both;
	margin: 0 0 0 5px;
}
.db-left {
	background-image: url("../images/uatab_l.png");
	background-position: left top;
	background-repeat: no-repeat;
	float: left;
	height: 29px;
	margin: 0 2px;
	padding: 0 0 0 8px;
	cursor: pointer;
}
.db-center {
	background-image: url("../images/uatab_c.png");
	background-position: left top;
	background-repeat: repeat-x;
	float: left;
	line-height: 29px;
}
.db-right {
	background-image: url("../images/uatab_r.png");
	background-position: right top;
	background-repeat: no-repeat;
	color: #000000;
	float: left;
	height: 29px;
	padding: 0 8px 0 0;
}
.tabselect {
	background-image: url("../images/uatabsel_l.png");
}
.tabselect .db-center {
	background-image: url("../images/uatabsel_c.png");
}
.tabselect .db-right {
	background-image: url("../images/uatabsel_r.png");
}
#existingEquity .flexigrid {
	margin: 10px 0 20px;
}

.direct-det {
	width: 100%;
	float: left;
	background-color: #CBD2DA;
}
.headerbar .leftcol {
	font-size: 18px;
	text-shadow: #0B0B0B 1px 1px 1px;
	filter: Shadow(Color=#0B0B0B,Direction=135,Strength=2);
}
.editor-label {
	width: 120px;
}
.headerbar .addbtn {
	margin: 0 0 0 107px;
	padding: 0;
	float: left;
}
.headerbar .rightcol {
	float: right;
	/*margin: 0 50px 0 0;*/
}

#equitysymboldiv .editor-label-first{
	width:133px;
	padding-right:26px;
}
#eqdocument .editor-label-first, #fidocument .editor-label-first{
	width:139px;
	padding-right:20px;
}
#fixincomediv .editor-label-first{
	width:154px;
}