.doc-main {
    display: block;
    width: 100%;
    float:left;
    clear:both;
    margin:5px 0 0;
}
.doc-header {
	margin-left: 78px;
}
.doc-content {
    margin: 0 0 10px 0;
    overflow: hidden;
    padding: 0 20px 0 25px;
    width: 96%;
    float:left;
    clear:both;
}
.doc-upload {
	margin-left: 78px;
	margin-top: 10px;
	float: left;
}
.doc-search {
	width: 100%;
}
.doc-search .doc-header {
	width: 40%;
	margin: 10px auto;
}
.doc-search .doc-result {
	width: 95%;
	margin: 0 auto;
	clear: both;
}
.doc-header .editor-label,.doc-upload .editor-label, .doc-search .editor-label {
	width: 100px;
	text-align:right;
	padding:8px;
}
.editor-label select {
	width: 100px;
}
.editor-field {
	width: auto;
}
.editor-field select{
	padding:2px;
}
.doc-search .editor-field input {
	width: 100px;
}
.editor-button {
	width: 40%;     margin: 0px 0 0 15%;
}
#SearchDocumentList img {
	cursor: pointer;
}
#cntbox {    top: 179px;
}