.doc-main {
    display: block;
    width: 100%;
    float:left;
    clear:both;
    margin:5px 0 0;
}
.doc-header {
	margin-left: 65px;
}
.doc-content {
    margin: 0 0 10px 0;
    overflow: hidden;
    padding-left: 65px;
    width: 90%;
    float:left;
    clear:both;
}
.doc-upload {
	margin-left: 65px;
	margin-top: 10px;
	float: left;
	width:800px;
}
.doc-search {
	width: 100%;
}
.doc-search .doc-header {
	width: 40%;
	margin: 10px auto;
}
.doc-search .doc-result {
	width: 95%;
	margin: 0 auto;
	clear: both;
}
.doc-header .editor-label,.doc-upload .editor-label, .doc-search .editor-label {
	width: 100px;
	text-align:right;
}
.editor-label select {
	width: 100px;
}
.editor-field {
	width: auto;
	white-space:nowrap;
}
.doc-search .editor-field input {
	width: 100px;
}
.editor-button {
	width: 40%;     margin: 0px 0 0 15%;
}
#SearchDocumentList img {
	cursor: pointer;
}
#cntbox {    top: 179px;
}
.doc-header .editor-label-first{
	width:78px;
	padding-left:0px;	
}
.doc-upload .editor-label-first{
	width:78px;
	padding-left:0px;	
}