.show {
	display: block;
}
.hide {
	display: none;
}
.contactInfo {
	padding-left: 70px;
}
.contactInfo .editor-field {
	width: 148px;
}
.accountInfo .info-detail {
	padding-left: 88px;
}
.accountInfo .editor-field {
	width: 166px;
}
.editor-field span {
	overflow: hidden;
}
.addressinfo-box .editor-editbtn, .accountInfo .editor-editbtn, .contactInfo .editor-editbtn {
	padding: 0px 111px 0 0;
}
.investor-titlebox .editor-field {
	padding: 13px 5px 0 0;
	margin: 0;
}
.investor-titlebox .info-title {
	margin-bottom: 15px;
}
#InvestorContainer .flexigrid .pDiv {
	height: 18px;
}