.show {
	display: block;
}
.hide {
	display: none;
}
.contactInfo {
	padding-left: 70px;
}
.contactInfo .editor-field {
	width: 148px;
}
.accountInfo .info-detail {
	padding-left: 88px;
}
.accountInfo .editor-field {
	width: 166px;
}
.editor-field span {
	overflow: hidden;
}
.addressinfo-box .editor-editbtn, .accountInfo .editor-editbtn, .contactInfo .editor-editbtn {
	padding: 0px 111px 0 0;
}
.investor-titlebox .editor-field {
	padding: 13px 5px 0 0;
	margin: 0;
}
.investor-titlebox .info-title {
	margin-bottom: 15px;
}
#InvestorContainer .flexigrid .pDiv {
	display:none;
}
#InvestorContainer .flexigrid .bpDiv {
	display:block;
}
.inv-info-title {
    background-color: #FFFFFF;
    background-image: url("../images/header_bg.gif");
    background-repeat: repeat-x;
    clear: both;
    color: #354866;
    float: left;
    font-size: 16px;
    font-weight: bold;
    height: 41px;
    margin: 10px 0 0 65px;
    padding: 20px 0px 0px 0px;
    width: 86%;
}
.inv-info-title .title{
	padding:0 0 0 10px;
}
.inv-grid{
	clear:both;
	width:86%;
}
#InvListLoading{
	font-size:12px;
	font-weight:normal;
}