/* CSS Document */
.flexigrid {
	font-family: Arial;
	font-size: 12px;
	border: 0px solid #eee;
	overflow: hidden;
	color: #000;
	width: 100%;
}
.flexigrid div.sDiv2 {
	float: left;
	clear: both;
	padding: 5px;
	padding-left: 5px;
	width: 1024px;
}
.flexigrid div.sDiv2 input, .flexigrid div.sDiv2 select {
	vertical-align: middle;
}
.flexigrid div.btnseparator {
	float: left;
	height: 22px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #fff;
	margin: 1px;
}
.flexigrid div.fbutton {
	float: left;
	display: block;
	cursor: pointer;
	padding: 1px;
}
.flexigrid div.fbutton div {
	float: left;
	padding: 1px 3px;
}
.flexigrid div.fbutton span {
	float: left;
	display: block;
	padding: 3px;
}
.flexigrid div.fbutton:hover, .flexigrid div.fbutton.fbOver {
	padding: 0px;
	border: 1px solid #ccc;
}
.flexigrid div.fbutton:hover div, .flexigrid div.fbutton.fbOver div {
	padding: 0px 2px;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.flexigrid div.cDrag {
	float: left;
	position: absolute;
	z-index: 2;
	overflow: visible;
}
.flexigrid div.cDrag div {
	float: left;
	background: none;
	display: block;
	position: absolute;
	height: 24px;
	width: 5px;
	cursor: col-resize;
}
.flexigrid div.cDrag div:hover, .flexigrid div.cDrag div.dragging {
	background: url(../images/line.gif) repeat-y 2px center;
}
.flexigrid div.iDiv {
	border: 1px solid #316ac5;
	position: absolute;
	overflow: visible;
	background: none;
}
.flexigrid div.iDiv input, .flexigrid div.iDiv select, .flexigrid div.iDiv textarea {
	font-family: Arial;
font-size: 12px;
}
.flexigrid div.iDiv input.tb {
	border: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	padding: 0px;
	background: none;
}
.flexigrid div.hGrip {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 5px;
	width: 5px;
	background: url(../images/line.gif) repeat-x center;
	margin-right: 1px;
	cursor: col-resize;
}
.flexigrid span.cdropleft {
	display: block;
	background: url(../images/prev.gif) no-repeat -4px center;
	width: 24px;
	height: 24px;
	position: relative;
	top: -24px;
	margin-bottom: -24px;
	z-index: 3;
}
.flexigrid div.hDiv span.cdropright {
	display: block;
	background: url(../images/next.gif) no-repeat 12px center;
	width: 24px;
	height: 24px;
	float: right;
	position: relative;
	top: -24px;
	margin-bottom: -24px;
}
.flexigrid div.bDiv td div img {
	cursor: pointer;
}
.flexigrid tr td.sorted {
	background: #f3f3f3;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #f3f3f3;
}
.flexigrid tr td.sorted div {
}
.flexigrid tr.erow td {
	/*background: #f7f7f7;*/
	background: #E9EAEC;	
	/*border-bottom: 2px solid #B5B5B5;*/
	padding-top: 5px;
	border-top:2px solid #FFFFFF;
}
.flexigrid tr.erow td.sorted {
	background: #e3e3e3;
	/*border-bottom: 1px solid #e3e3e3;*/
}
.flexigrid tr.erow td.sorted div {
}
.flexigrid div.bDiv tr:hover td, .flexigrid div.bDiv tr:hover td.sorted, .flexigrid div.bDiv tr.trOver td.sorted, .flexigrid div.bDiv tr.trOver td {
	background: #d9ebf5;
}
.flexigrid div.pDiv {
	/*background: url(../images/wbg.gif) repeat-x 0 -1px;
	border: 1px solid #ccc;*/
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	top:-3px;
}
.flexigrid div.pDiv div.pDiv2 {
	margin: 3px;
	margin-left: -2px;
	float: right;
	width: auto;
}
div.pGroup {
	float: left;
	background: none;
	height: 24px;
	margin: 0px 5px;
	font-weight:bold;
}
.flexigrid div.pDiv .pPageStat, .flexigrid div.pDiv .pcontrol {
	position: relative;
	top: 5px;
	overflow: visible;
}
.flexigrid div.pDiv input {
	vertical-align: text-top;
	position: relative;
	top: -5px;
	text-align: center;
}
.flexigrid div.pDiv div.pButton {
	float: left;
	width: 22px;
	height: 22px;
	border: 0px;
	cursor: pointer;
	overflow: hidden;
}
.flexigrid div.pDiv div.pButton:hover, .flexigrid div.pDiv div.pButton.pBtnOver {
	width: 20px;
	height: 20px;
	border: 1px solid #ccc;
	cursor: pointer;
}
.flexigrid div.pDiv div.pButton span {
	width: 20px;
	height: 20px;
	display: block;
	float: left;
}
.flexigrid div.pDiv div.pButton:hover span, .flexigrid div.pDiv div.pButton.pBtnOver span {
	width: 19px;
	height: 19px;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
}
.flexigrid .pSearch {
	background: url(../images/magnifier.png) no-repeat center;
}
.flexigrid .pFirst {
	background: url(../images/first.gif) no-repeat center;
}
.flexigrid .pPrev {
	background: url(../images/prev.gif) no-repeat center;
}
.flexigrid .pNext {
	background: url(../images/next.gif) no-repeat center;
}
.flexigrid .pLast {
	background: url(../images/last.gif) no-repeat center;
}
.flexigrid .pReload {
	background: url(../images/load.png) no-repeat center;
}
.flexigrid .pReload.loading {
	background: url(../images/load.gif) no-repeat center;
}
.flexigrid.ie div.hDiv th div, .flexigrid.ie div.bDiv td div, div.colCopy.ie div /* common inner cell properties*/ /* common inner cell properties*/ {
	overflow: hidden;
}
.hDiv table th {
	padding: 4px;
	/*background: url("../images/fhbg.gif") repeat-x scroll center bottom #FAFAFA;
	border-top: 1px solid #CCCCCC;*/
	font-weight: bold;
	/*border-right: 1px solid #DDDDDD;*/
	background-color:#BABFC5;
	border-bottom:2px solid #B5B5B5;
	border-top:2px solid #FFFFFF;
}
.hDiv th.sorted {
	/*background: url("../images/wbg.gif") repeat-x scroll 0 -1px transparent;
	border-bottom: 0 solid #CCCCCC;
	border-right: 1px solid #DDDDDD;*/
	background-color:#BABFC5;
	border-bottom:2px solid #B5B5B5;
}
.hDiv table th, .bDiv table td {
	padding: 5px;
	/*border-right: 1px solid #DDDDDD;*/
	border-bottom:2px solid #B5B5B5;
	border-top:2px solid #FFFFFF;
	cursor: default;
	/*height:34px;*/
}
.hDiv, .bDiv {
	border-left: 1px solid #DDDDDD;
	border-bottom:2px solid #B5B5B5;
	border-top:2px solid #B5B5B5;
}
.bDiv {
	border-bottom: 1px solid #DDDDDD;background-color:#F5F5F5;
}
.hDiv span.sasc {
	background: url("../images/up.png") no-repeat scroll right center transparent;
	padding-right: 10px;
}
.hDiv span.sdesc {
	background: url("../images/dn.png") no-repeat scroll right center transparent;
	padding-right: 10px;
}
.bDivBox {
	overflow: auto;
	overflow-x: hidden;
}
