.fund-box {
	clear: both;
	float: left;
	width: 100%;
}
.fund-box .header {
	margin: 5px 0 0;
}
.fund-main {
	width: 100%;
	margin-left: 20px;
	margin: 0;
	clear: both;
}
#cntbox {
	top: 98px;
}
.section-det {
	width: 100%;
	margin: 0;
	padding: 0;
}
.fund-box-titie {
	font-weight: bold;
	padding: 15px 0 15px 65px;
}
.fund-header {
	width: 100%;
	text-align: right;
	padding: 5px 0px 5px 0px;
}
.fund-content {
	width: 100%;
}
.fund-box-det {
	clear: both;
	float: left;
	padding: 10px 20px;
	width: 100%;
}
.fund-box-det .editor-field input[type="text"] {
	width: 150px;
}
.fund-box-det .editor-field input[type="checkbox"] {
	margin-top: 5px;
}
.fund-box-det .editor-label {
	text-align: right;
	font-weight: bold;
	padding: 10px 5px;
	white-space: nowrap;
	width: 188px;
}
.headerbox {
	 cursor: pointer;
    float: left;
    padding-left: 30px;
    width: 100%;
}
.editor-field {
	width: 185px;
}
.section-det .title {
	background: url("../images/plus.png") no-repeat scroll left top transparent;
	color: #02766F;
	cursor: pointer;
	float: left;
	font-size: 14px;
	font-weight: bold;
	height: 30px;
	line-height: 15px;
	margin: 10px 0 0 37px;
	padding-left: 20px;
	width: 200px;
}
.rightdarrow {
	float: right;
	padding-right: 93px;
	padding-top: 10px;
	vertical-align: middle;
}
.rate-detail {
	clear: both;
	margin: 0 auto;
	width: 95%;
}
.rate-grid {
	width: 100%;
	clear: both;
}
.tab-delete {
	background-image: url("../images/tabdelete.png");
	background-position: left top;
	background-repeat: no-repeat;
	float: left;
	height: 16px;
	margin: 7px 0 0 -18px;
	width: 16px;
	cursor: pointer;
}
#FundDetail {
	margin: 0 auto;
	padding: 20px 0 0;
	width: 90%;
}
/* expand header */
.expandheader, .recon-expandheader {
	background-image: url("../images/downarrow.png");
	background-position: right center;
	background-repeat: no-repeat;
	cursor: pointer;
	float: left;
	padding: 0 0 0 65px;
	width: 90%;
}
.expandheader .expandimg, .recon-expandheader .expandimg {
	padding: 15px 0 8px;
}
.expandsel {
	background-image: url("../images/expandbg.png");
	background-position: left top;
	background-repeat: repeat-x;
	color: #FFFFFF;
	font-size: 14px;
	height: 50px;
	line-height: 50px;
	padding: 0 0 0 70px;
	width: 100%;
	margin-top:-2px;
}
.expandheader #title, .recon-expandheader #title {
	display: none;
}
.expandimg {
	float: left;
}
.expandtitle, .recon-expandtitle {
	float: left;
	white-space: nowrap;
	width: 200px;

}
.expandaddbtn {
	display: none;
	float: left;
	height: 31px;
	line-height: 33px;
	margin: 10px 0 0 70px;
	padding-left: 30px;
	width: 151px;
}
.expandaddbtn a {
	color: #000000;
	font-size: 11px;
	font-weight: bold;
}
.expandsel .rightuarrow {
	background-image: url("../images/rightuarrow.png");
	background-repeat: no-repeat;
	float: right;
	height: 9px;
	margin-right: 132px;
	margin-top: 21px;
	width: 16px;
}
 
.detail {
	background-color: #E9EAEC;
	clear: both;
	float: left;
	margin: 0;
	padding: 20px 0;
	width: 100%;
}
.detail .editor-label {
	line-height: 20px;
	text-align: right;
}
/* end expand header */
