.fund-main {
	width: 95%;
	margin: 10px auto;
}
.fund-header {
	width: 100%;
	text-align: right;
	padding: 5px 0px 5px 0px;
}
.fund-content {
	width: 100%;
}
.editor-label {
	width: 189px;
}
.editor-field {
	width: 180px;
}
.editor-field input {
	width: 175px;
}
.rate-sch-main { color:#a6a6a6;
	width: 800px;
}
.rate-header {
	float: left;
	clear: both;
	width: 97%;
}
.rate-header .left {
	float: left;
	padding: 5px 0px 0px 5px;
}
.rate-header .right {
	float: right;
	margin-right: 5px;
}
.rate-header, .rate-schedules, .rate-schedules .rate-grid {
	clear: both;
}
.rate-grid input, .rate-grid select, .rate-grid textarea {
	width: 94%;
}
.rate-detail {
	padding-top: 5px;
	width: 99%;
	font-size: 11px;
}
.rate-detail input, .rate-detail select {
	font-size: 11px;
}
.rate-detail td, .rate-detail th {
	font-size: 11px;
}
.rate-schedules {
}
