.editor-field select, .editor-field dropdown {
	width: 184px;
}
.editor-field {
	width: auto;
}
.editor-label {
	width: 145px;
}
#ContactInfoBox, #AccountInfoBox, .contactinfo, .accountinfo {
	width: 100%;
}
.contactinfo-box, .accountinfo-box {
	width: 100%;
	float: left;
}
.field-validation-error {
	display: none;
}
