.editor-field input[type="text"] {
	width: 170px;
}
.editor-field select {
	width: 174px;
}
label {
	font-weight: normal;
}
input[type="text"], select {
	padding: 2px;
}
.status {
	height: 20px;
}
.editor-button {
    height: 20px;
}