#ReportMain {
	overflow: hidden;
	margin: 0 auto;
	overflow: hidden;
	width: 1024px;
}
.rep-header {
	padding: 10px;
}
.rep-main .title {
	font-size: 23px;
	font-weight: bold;
	padding: 10px 0px 10px 0px;
}
.fundname {
	text-transform: uppercase;
}
.detail {
	font-size: 16px;
	font-weight: bold;
	padding-top: 3px;
}
.grid {
	clear: both;
	overflow: auto;
	overflow-x: hidden;
}
.grid table {
	width: 99%;
}
.grid tr th {
	text-align: right;
	text-decoration: underline;
}
.grid tr th, .grid tr td {
	padding: 8px 0px;
}
.foot-name, .foot-value {
	float: left;
	font-weight: bold;
	padding: 3px;
	white-space: nowrap;
}
.foot-name {
	width: 150px;
	clear: left;
	text-decoration: underline;
}
.foot-value {
	clear: right;
	width: 120px;
	text-align: right;
}
