td, th {
	white-space: nowrap;
}
#ReportMain {
	overflow: hidden;
	margin: 0 auto;
	overflow: hidden;
	width: 100%;
}
.rep-header {
	padding: 10px;
}
.rep-main .title {
	font-size: 23px;
	font-weight: bold;
	padding: 10px 0px 10px 0px;
}
.fundname {
	text-transform: uppercase;
}
.detail {
	font-size: 16px;
	font-weight: bold;
	padding-top: 3px;
}

.foot-name, .foot-value {
	float: left;
	font-weight: bold;
	padding: 3px;
	white-space: nowrap;
}
.foot-name {
	width: 150px;
	clear: left;
	text-decoration: underline;
}
.foot-value {
	clear: right;
	width: 120px;
	text-align: right;
}
.grid tfoot tr td {
	padding: 10px 15px;
}
#ReportContent {
	width: 90%;
	padding-left:65px;
	padding-bottom: 20px;
}
#ReportContent.dealdetail {
	width: 968px;
	margin:0 auto;
}
#ReportContent td.title {
	font-size: 23px;
	font-weight: bold;
	padding: 10px 0 0;
}
#ReportContent .headingrow td {
	font-size: 14px;
	font-weight: normal;
	padding: 5px 0;
}
#ReportContent .detailrow td {
	font-weight: normal;
	padding: 8px 0;
}
#ReportContent .bordertop td, #ReportContent .bordertop {
	border-top: solid 1px #000;
}
#ReportContent .borderbottom {
	border-bottom: solid 1px #000;
}
#ReportContent .symbol {
	border: 1px solid #000000;
	font-size: 25px;
	font-weight: bold;
	padding: 5px 0;
	text-align: center;
	width: 50px;
	float: right;
}
#ReportContent .calign {
	text-align: center;
}
#ReportContent .ralign {
	text-align: right;
}
#ReportContent .hrow td {
	background-color: #A5BFDE;
	color: #000000;
	font-size: 12px;
	white-space: nowrap;
	height: 30px;
	padding: 0 15px;
}
#ReportContent .row td, #ReportContent .arow td {
	height: 30px;
	padding: 0 15px;
	background-image: url("../images/line.png");
	background-position: left bottom;
	background-repeat: repeat-x;
}
/*#ReportContent .row td {
	background-color: #F5F5F5;
}
#ReportContent .arow td {
	background-color: #E9EAEC;
}*/
#ReportContent .trow td {
	height: 0;
	padding: 5px 15px 0;
}
#ReportContent .gridline td {
	background-image: url("../images/line.png");
	background-position: left top;
	background-repeat: repeat-x;
	padding-top: 2px;
}
#ReportHeader {
	float: left;
	margin: 10px 0 5px;
	width: 100%;
}
.export {
	float: right;
	padding-top: 5px;
}
.export .menu {
	background-image: url("../images/expdown.png");
	background-position: right center;
	background-repeat: no-repeat;
	float: left;
	font-size: 12px;
	height: 17px;
	margin-right: 10px;
	overflow: hidden;
	width: 43px;
}
.export .menu a {
	color: #000;
	text-decoration: none;
}
.export .print {
	float: left;
	margin: 0 15px 0 0;
}
.export .darrow {
	float: left;
	margin: 0 0 0 5px;
}
.exportlist {
	display: none;
}
.exportlist li {
	list-style: none outside none;
	margin: 0 10px 0 0;
}
.exportlist li a {
	color: #000000;
}
.titlebox {
	float: left;
	margin-left: 60px;
	width: 90%;
}
.underline, .underline td {
	text-decoration: underline;
}
.frow td {
	font-size: 14px;
	padding: 5px 0px;
}
.drow td {
	padding: 5px;
}
#ReportContent {
	font-size: 13px;
}
.editor-label label {
	padding: 0 5px 0 0;
	float:left;
}
#ReportDetail .flexigrid div.pDiv {
	 height: 30px;
} 
.editor-label input[type="text"] {
	width: 115px;
}