/* CSS Document */
* {
	margin: 0px;
	padding: 0px;
}
body {
	font-size: 12px;
	font-family: Arial;
	color: #9c9c9c;
	line-height: 18px;
	text-align: center;
	background-color: #ffffff;
	color: #000000;
}
#main {
	width: 100%;
}
a {
	text-decoration: none;
}
a img {
	border: 0px;
}
/* Header */
#header {
	background-image: url(../images/top_bg.gif);
	background-repeat: repeat-x;
	height: 100px;
	text-align: left;
	border-top: solid 1px #0186A7;
	border-left: solid 1px #0186A7;
	border-right: solid 1px #0186A7;
}
#header img {
	padding-top: 20px;
	padding-left: 20px;
}
/* Menu */
#menu {
	height: 24px;
	margin-left: 15px;
	margin-top: -24px;
}
#menu ul {
	list-style-type: none;
	float: left;
	width: 940px;
}
#menu ul li {
	float: left;
	padding-right: 2px;
	cursor: pointer;
}
#menu a {
	color: #37cff3;
	font-weight: bold;
}
/* Tab */
.tab-select {
	background-image: url(../images/tab_sel.png);
	background-repeat: no-repeat;
	width: 80px;
	height: 24px;
	color: #24AFD0;
	padding-right: 2px;
	float: left;
}
.tab-unselect {
	background-image: url(../images/tab_unsel.png);
	background-repeat: no-repeat;
	width: 80px;
	height: 24px;
	color: #24AFD0;
	padding-right: 2px;
	float: left;
}
/* Content */
#content {
}
#contenttop {
	width: 100%;
	height: 10px;
	background-color: #FFFFFF;
}
#content .content-box {
	float: left;
	width: 100%;
	background-image: url(../images/bot_bg.gif);
	background-repeat: repeat-x;
	background-color: #E4FDC6;
}
#content .content-left {
	float: left;
	background-color: #fff;
	width: 75%;
	min-height: 400px;
}
#content .content-right {
	float: left;
	width: 25%;
	margin-top: 90px;
}
/* Footer */
#footer {
	width: 100%;
	height: 35px;
	float: left;
	background-color: #216687;
	clear: both;
}
#footer .footercontent {
	color: #ffffff;
	height: 35px;
	padding-top: 10px;
}
h1 {
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 10px;
}
h2 {
	font-size: 14px;
	color: Black;
}
/* Editor */
.editor-label {
	width: 120px;
	float: left;
	text-align: left;
	padding: 5px 5px 5px 10px;
	clear: left;
}
.editor-field {
	text-align: left;
	padding: 5px;
	float: left;
	clear: right;
}
.editor-field input {
	width: 265px;
}
.editor-field select {
	width: 175px;
}
.dropdown {
	width: 120px;
}
.display-field {
	text-align: left;
	padding: 8px 0px 12px 0px;
	float: left;
	clear: right;
	width: auto;
}
.editor-button {
	width: 73px;
	margin: 0 auto;
	margin-bottom: 10px;
	clear: both;
}
.dropdown, .checkbox, .button, .textarea {
	background-image: none;
}
.field-validation-error, .custom-validation {
	color: Red;
}
/*
------------------------Box-------------------*/
.box {
	clear: both;
	margin-left: 20px;
	float: left;
	margin-bottom: 10px;
}
.box-top {
	clear: both;
	height: 34px;
}
.box-left {
	float: left;
	background-image: url(../images/box_left.png);
	background-repeat: no-repeat;
	width: 10px;
	height: 34px;
}
.box-right {
	float: left;
	background-image: url(../images/box_right.png);
	background-repeat: no-repeat;
	width: 10px;
	height: 34px;
}
.box-center {
	float: left;
	background-image: url(../images/box_center.png);
	background-repeat: repeat-x;
	width: 697px;
	height: 34px;
	text-align: left;
	color: White;
	font-size: 13px;
	font-weight: bold;
	line-height: 34px;
}
.box-content {
	border: solid 1px #0495bf;
	padding-top: 10px;
	width: 715px;
	float: left;
	background-color: #E9FBFF;
}
.contactinfo-right {
	float: left;
}
.contactinfo-left {
	float: left;    width: 422px;
}
.accountinfo, .contactinfo {
	clear: both;
	float: left;
}
.accountinfo{
	width: 422px;
}
.box-content .title {
	float: left;
	padding-left: 8px;
}
.box-content .delete {
	float: right;
	clear: right;
	cursor: pointer;
	display: none;
}
.box-content .add {
	float: left;
}
.box-content .add img {
	cursor: pointer;
}
.box-content .box-main {
	float: left;
}
.new-investor {
	width: 755px;
	margin: 0 auto;
}
/* Search */
#SearchDetail {
	/*clear: both;*/
	text-align: left;
	/*padding: 5px 0px 0px 20px;*/	
	width:250px;
	margin-left:57px;
	margin-top:21px;
}
#SearchDetail li
{
    border-right:solid 1px silver;
    border-bottom:solid 1px silver;
    border-left:solid 1px silver;
    list-style-type:none;
}
#SearchDetail li a {
	color: #216687;
	background-color:#EEF7E4;
	padding:5px;
	display:block;
	
}
#SearchDetail li a:hover
{
    background-color:#04AAD6;
    color:White;
}
.searchTitle
{
    width:245px;
    background-color:#c5c5c5;
    padding-left:5px;
    height:21px;
    line-height:10px;
}
/* ui-autocomplete */
.ui-menu .ui-menu-item {
	text-align: left;
}
/* investor list */
.investor-list {
	text-align: left;
	    padding: 4px 0 0;
}
/* edit investor */
#editinfo {
	width: 100%;
	float: left;
}
.edit-investor {
	width: 98%;
	margin: 10px;
	float: left;
}
.box {
	width: 100%;
	margin-left: 0px;
}
.box-content {
	padding: 9px;
	width: 97%;
}
.box-center {
	width: 97%;
}
.editor-label {
	width: 135px;
	padding: 5px;
}
.editor-field {
	width: 155px;
}
.display-field {
	padding: 5px;
}

.edit-info {
	clear: both;
	float: left;
	width: 100%;
	text-align: left;
	margin-top: 5px;
}
.edit-info .edit-left {
	width: 60%;
	float: left;
}
.edit-info .edit-right {
	width: 40%;
	float: right;
}
.contactinfo {
	clear: both;
}
/* ui-accordion */
.ui-accordion .ui-accordion-content {
	padding: 3px 10px 3px 10px;
}
.auto-width {
	width: auto;
}
.checkbox input {
	width: auto;
}


/* Grid */
.grid-viewdetail {
	clear: both;
}
.grid-list {
	width: 100%;
}
.admin-list-header {
	text-align: right;
	width: 100%;
}
.admin-list {
	clear: both;
	text-align: left;
}
.grid-list th, .grid-list td {
}
.grid-header th {
	background-color: #d4dee5;
	font-weight: bold;
	font-size: 12px;
	color: #000;
	height: 24px;
	text-align: center;
}
.small-text {
}
.small-text input {
	width: 130px;
}
.small-text-180 {
}
.small-text-180 input {
	width: 160px;
}
.small-text-120 input {
	width: 120px;
}
.small-dropdown-120 select {
	width: 120px;
}
.transaction-info .editor-label {
	width: 105px;padding-top:7px;
}
.transaction-info .editor-field {
	width: 144px;padding-top:7px;
}
.transaction-info .editor-field input {
	width: 130px;
}
.transaction-info .editor-field select {
	width: 135px;
}
.transaction-info .edit-info .edit-left {
	width: 60%;
}
.transaction-info .edit-info .edit-right {
	width: 40%;
}
.transaction-info .fund-detail .editor-label{
	width:120px;
}
.transaction-info .editor-link{
	float:left;clear:left;width:auto;    padding: 5px;
}
.transaction-info .editor-link a{ 
	color:Blue;
}
.transaction-info .checkbox input{
	width:auto;
}
.grid_item
{
    background-color:#c5c5c5;
}
.alter-row
{
    background-color:#EBEBEB;
}
.row
{
    background-color:#E9f8ff;
}

/* Transaction Edit */
.transaction-edit{
	float:left;
}
.transaction-edit .edit-detail{
	clear:both;float:left;
}
.transaction-edit .editor-label{
	width:auto;
}
.transaction-edit .edit-detail .editor-label{
	width: 148px;
}
.transaction-edit .edit-detail .editor-field{	
	width: auto;
}
.transaction-edit .edit-detail .editor-field input{	
	width: 150px;
}
.transaction-edit .split-detail{
	display:none;
}
.fund-details{
	clear:both;
}
#tabs .ui-widget-header {
	background:none;border-top:0px; border-left:0px; border-right:0px;
}