/* CSS Document */
* {
	margin: 0px;
	padding: 0px;
}
html, body {
	margin: 0;
	padding: 0;
	overflow: auto;
	overflow-x: hidden;
}
body {
	height: 100%;
	margin: 0;
	font-size: 12px;
	font-family: Arial;
	color: #000;
}
#DepMain{
	overflow:hidden;
}
a {
	text-decoration: none;
}
a img {
	border: 0px;
}
/* Header */
#header, #footer {
}
#header {
	background-image: url(../images/top_bg.gif);
	background-repeat: repeat-x;
	height: 100px;
	padding-left: 10px;
	top: 0;
}
#header .header-logo {
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: left center;
	height: 100px;
}
/* Footer */
#footer {
	height: 35px;
	bottom: 0;
	background-color: #216687;
}
#footer .footercontent {
	color: #ffffff;
	height: 35px;
	padding-top: 10px;
	text-align: center;
}
/* Content */
#content {
	overflow:auto;overflow-x:hidden;
}
#contenttop {
	width: 100%;
	height: 10px;
	background-color: #FFFFFF;
}
/* Menu */
#menu {
}
#menu .menu-content {
	float: left;
	padding-top: 76px;
}
#menu ul {
}
#menu ul li {
	display: inline;
}
.mdiv {
	clear: both;
	text-align: left;
	position: absolute;
	visibility: hidden;
	top: 24px;
}
.mdiv li {
	list-style: none;
	min-width: 165px;
}
.mdiv a {
	display: block;
	color: White;
	background-color: #04a9d5;
	padding: 5px;
	border: solid 1px gray;
	border-top: 0px;
}
.mdiv a:hover {
	color: black;
	background-color: #AEEAFB;
}
.topmenu {
	height: 24px;
	width: auto;
	float: left;
	margin-right: 4px;
}
.topmenu-center {
	background-image: url(../images/tab_unsel_c.png);
	background-repeat: repeat-x;
	height: 24px;
	float: left;
	line-height: 22px;
}
.topmenu-left {
	background-image: url(../images/tab_unsel_l.png);
	background-repeat: no-repeat;
	height: 24px;
	width: 8px;
	float: left;
}
.topmenu-right {
	background-image: url(../images/tab_unsel_r.png);
	background-repeat: no-repeat;
	height: 24px;
	width: 8px;
	float: left;
}
.topmenu-center a {
	color: #24AFD0;
	font-weight: bold;
}
.tab-sel .topmenu-center {
	background-image: url(../images/tab_sel_c.png);
}
.tab-sel .topmenu-left {
	background-image: url(../images/tab_sel_l.png);
}
.tab-sel .topmenu-right {
	background-image: url(../images/tab_sel_r.png);
}
.tab-sel .topmenu-center a {
	color: #37CFF3;
}

h1 {
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 10px;
}
h2 {
	font-size: 14px;
	color: Black;
}
/* Editor */
.editor-row {
	float: left;
	width: 100%;
	clear: both;
}
.editor-label {
	width: 120px;
	float: left;
	text-align: left;
	padding: 5px 5px 5px 10px;
	clear: left;
}
.editor-editbtn {
	float: right;
	clear: both;
}
.editor-editbtn a {
	color: Blue;
}
.editor-editbtn img {
	cursor: pointer;
}
.editor-field {
	text-align: left;
	padding: 5px;
	float: left;
	clear: right;
}
.editor-field input {
	width: 200px;
}
.editor-field select {
	width: 203px;
}
.radio input {
	width: auto;
}
.dropdown {
	width: 120px;
}
.display-field {
	text-align: left;
	padding: 8px 0px 12px 0px;
	float: left;
	clear: right;
	width: auto;
}
.editor-button {
	width: 73px;
	margin: 0 auto;
	margin-bottom: 10px;
	clear: both;
}
.dropdown, .checkbox, .button, .textarea {
	background-image: none;
}
.field-validation-error, .custom-validation {
	color: Red;
	display: none;
}

/*
------------------------Box-------------------*/
.box {
	clear: both;
	margin-left: 20px;
	float: left;
	margin-bottom: 10px;
}
.box-top {
	clear: both;
	height: 34px;
}
.box-left {
	float: left;
	background-image: url(../images/box_left.png);
	background-repeat: no-repeat;
	width: 10px;
	height: 34px;
}
.box-right {
	float: left;
	background-image: url(../images/box_right.png);
	background-repeat: no-repeat;
	width: 10px;
	height: 34px;
}
.box-center {
	float: left;
	background-image: url(../images/box_center.png);
	background-repeat: repeat-x;
	width: 697px;
	height: 34px;
	text-align: left;
	color: White;
	font-size: 13px;
	font-weight: bold;
	line-height: 34px;
}
.box-content {
	border: solid 1px #0495bf;
	padding-top: 10px;
	width: 715px;
	float: left;
	background-color: #E9FBFF;
}
.contactinfo-right {
	float: left;
}
.contactinfo-left {
	float: left;
	width: auto;
}
.accountinfo, .contactinfo {
	clear: both;
	float: left;
}
.box-content .title {
	float: left;
	padding-left: 8px;
}
.box-content .delete {
	float: right;
	clear: right;
	cursor: pointer;
	display: none;
}
.box-content .add {
	float: right;
}
.box-content .add img {
	cursor: pointer;
}
.box-content .box-main {
	float: left;
}
.new-investor {
	width: 800px;
	margin: 0 auto;
}
/* Search */
#SearchDetail {
	/*clear: both;*/
	text-align: left; /*padding: 5px 0px 0px 20px;*/
	width: 250px;
	margin-left: 50px;
	margin-top: 21px;
}
#SearchDetail li {
	border-right: solid 1px silver;
	border-bottom: solid 1px silver;
	border-left: solid 1px silver;
	list-style-type: none;
}
#SearchDetail li a {
	color: #216687;
	background-color: #EEF7E4;
	padding: 5px;
	display: block;
}
#SearchDetail li a:hover {
	background-color: #04AAD6;
	color: White;
}
.searchTitle {
	width: 245px;
	background-color: #c5c5c5;
	padding-left: 5px;
	height: 21px;
	line-height: 10px;
}
/* ui-autocomplete */
.ui-menu .ui-menu-item {
	text-align: left;
}
/* investor list */
.investor-list {
	text-align: left;
	padding: 4px 0 0;
}
/* edit investor */
#editinfo {
	width: 100%;
	float: left;
}
.edit-investor {
	width: 98%;
	margin: 10px;
	float: left;
}
.box {
	width: 100%;
	margin-left: 0px;
}
.box-content {
	padding: 9px;
	width: 97%;
}
.box-center {
	width: 97%;
}
.editor-label {
	width: 135px;
	padding: 5px;
}
.editor-field {
	width: 155px;
}
.display-field {
	padding: 5px;
}
.edit-info {
	clear: both;
	float: left;
	width: 100%;
	text-align: left;
	margin-top: 5px;
}
.edit-info .edit-left {
	width: 60%;
	float: left;
}
.edit-info .edit-right {
	width: 40%;
	float: right;
}
.contactinfo, .accountinfo {
	clear: both;
	width: 100%;
}
/* ui-accordion */
.ui-accordion .ui-accordion-content {
	padding: 3px 10px 3px 10px;
}
.ui-accordion h3 {
	height: 30px;
}
.ui-accordion .header-left {
	float: left;
}
.ui-accordion .header-right {
	float: right;
	display: none;
}
.auto-width {
	width: auto;
}
.checkbox input {
	width: auto;
}


/* Grid */
.grid-viewdetail {
	clear: both;
}
.grid-list {
	width: 100%;
}
.admin-list-header {
	text-align: right;
	width: 100%;
}
.admin-list {
	clear: both;
	text-align: left;
}
.grid-list th, .grid-list td {
}
.grid-header th {
	background-color: #d4dee5;
	font-weight: bold;
	font-size: 12px;
	color: #000;
	height: 24px;
	text-align: center;
}
.small-text {
}
.small-text input {
	width: 130px;
}
.small-text-180 {
}
.small-text-180 input {
	width: 160px;
}
.small-text-120 input {
	width: 120px;
}
.small-dropdown-120 select {
	width: 120px;
}
.transaction-info .editor-label {
	width: 105px;
	padding-top: 7px;
}
.transaction-info .editor-field {
	width: auto;
	padding-top: 7px;
}
.transaction-info .editor-field input {
	width: 145px;
}
.transaction-info .editor-field select {
	width: 160px;
}
.transaction-info .edit-info .edit-left {
	width: 60%;
}
.transaction-info .edit-info .edit-right {
	width: 40%;
}
.transaction-info .fund-detail .editor-label {
	width: 120px;
}
.transaction-info .editor-link {
	float: left;
	clear: left;
	width: auto;
	padding: 5px;
}
.transaction-info .editor-link a {
	color: Blue;
}
.transaction-info .checkbox input {
	width: auto;
}
.grid_item {
	background-color: #c5c5c5;
}
.alter-row {
	background-color: #EBEBEB;
}
.row {
	background-color: #E9f8ff;
}

/* Transaction Edit */
.transaction-edit {
	float: left;
}
.transaction-edit .edit-detail {
	clear: both;
	float: left;
}
.transaction-edit .editor-label {
	width: auto;
}
.transaction-edit .edit-detail .editor-label {
	width: 120px;
}
.transaction-edit .edit-detail .editor-field {
	width: auto;
}
.transaction-edit .edit-detail .editor-field input {
	width: 150px;
}
.transaction-edit .split-detail {
	display: none;
}
.fund-details {
	clear: both;
	margin-right: 10px;
}
#tabs .ui-widget-header {
	background: none;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
}
/* Details Box */
.det-box {
	width: 100%;
}
.det-box-top {
	background-image: url(../images/detleft.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding-left: 3px;
	color: White;
}
#loading {
	text-align: left;
}
#FundDetails {
	float: left;
	width: 100%;
	margin-left: 2px;
}
.tab {
	width: 100%;
	float: left;
	margin-right: 4px;
}
.tab-center {
	background-image: url(../images/tab_unsel_c.png);
	background-repeat: repeat-x;
	height: 24px;
	float: left;
	width: 96%;
	line-height: 24px;
	color: White;
}
.tab-left {
	background-image: url(../images/tab_unsel_l.png);
	background-repeat: no-repeat;
	height: 24px;
	width: 8px;
	float: left;
}
.tab-right {
	background-image: url(../images/tab_unsel_r.png);
	background-repeat: no-repeat;
	height: 24px;
	width: 8px;
	float: left;
}
.tab-center a {
	color: white;
	font-weight: bold;
}
.tab-cnt {
	clear: both;
	width: 99%;
	border: solid 1px gray;
	float: left;
	margin-bottom: 10px;
}
.header {
	float: left;
	clear: both;
	width: 100%;
	text-align: left;
}
.field-validation-valid {
	color: red;
	display: none;
}
#contactInfoMain .editor-field {
	width: auto;
}
.transaction-edit .field-validation-error, .transaction-info .field-validation-error {
	display: none;
}
#admin_accordion {
	width: 50%;
	margin: 10px auto;
}
.admin-main {
	width: 95%;
	margin: 10px auto;
}
.admin-header {
	width: 100%;
	text-align: right;
	padding: 5px 0px 5px 0px;
}
.admin-content {
	width: 100%;
}
.status {
	height: 25px;
	clear: both;
	text-align: center;
	width: auto;
}
.submenubg {
	background-image: url(../images/arrow.gif);
	background-position: right center;
	background-repeat: no-repeat;
}
.fund-closing-edit .editor-label {
	width: 80px;
}
.page-title {
	clear: both;
	padding: 5px;
}
h2 {
	font-size: 14px;
}
