.info {
	padding-left: 65px;
	width: 90%;
}
.info-title {
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0 20px 0;
	float: left;
}
.investor-titlebox .editor-field {
	padding: 13px 5px 0 0;
	margin: 0;
}
.investor-titlebox .info-title {
	margin-bottom: 15px;
}
.editor-field input.ui-autocomplete-input[type="text"] {
	    width: 119px;
}
.show {
	display: inline-block;
}
.hide {
	display: none;
}
#EditTransaction .info{
	padding-left:18px;
}
#EditTransaction .info-title {
	   margin: 5px 0 5px 5px;
}
#EditTransaction .editor-label{
	   width:127px;
}
#EditTransaction .editor-field{
	width: 166px;
}
#EditTransaction .editor-btn{
	   clear: both;
    float: right;
    padding-right: 38px;
    text-align: right;
    width: 311px;
}