<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<appSettings>
		<add key="Password.Key" value="7AB3996B-EF9C-4835-8D0A-59B10B4E0150" />
		<add key="ConversionErrorLog" value="errors.log" />
		<add key="MessageLog" value="message.log" />
		<add key="DefaultEntityID" value="2" />
		<add key="DefaultUserID" value="1" />
		<add key="LoginCredentials" value="pulak,sinha,ec" />
		<add key="BaseUrl" value="http://localhost:8080" />
		<!--
		<add key ="LoginCredentials" value="pulak,sinha"/>
		<add key="BaseUrl" value="http://ec2-174-129-108-90.compute-1.amazonaws.com" />
		-->
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<connectionStrings>
		<add name="BlueEntities" connectionString="metadata=res://*/SourceData.WillowRidge.csdl|res://*/SourceData.WillowRidge.ssdl|res://*/SourceData.WillowRidge.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=KAR;Initial Catalog=WillowRidge2012.02.24;Persist Security Info=True;User ID=sa;Password=raga;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>