<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <MSDeployServiceURL>https://c68837a05d8f472e984418f337229b60.cloudapp.net:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>DeepBlue_IN_0_Web</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <DeployAsIisApp>False</DeployAsIisApp>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>DeepBlue</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DeepBlueEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=y1x8qegyll.database.windows.net;Initial Catalog=DeepBlue;Persist Security Info=True;User ID=DeepBlue;Password=Hedge123" />
          <Object Type="DbSqlPackage">
            <PreSource Path="Data Source=KAR\KARSQLEXPRESS;Initial Catalog=DeepBlue;Persist Security Info=True;User ID=sa;Password=raga;Application Name=EntityFramework" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DeepBlueEntities_IncrementalSchemaOnly.dacpac" Action="Publish" AllowIncompatiblePlatform="True" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Entity.DeepBlue.csdl|res://*/Models.Entity.DeepBlue.ssdl|res://*/Models.Entity.DeepBlue.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KAR\KARSQLEXPRESS;initial catalog=DeepBlue;persist security info=True;user id=sa;password=raga;multipleactiveresultsets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DeepBlueEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Entity.DeepBlue.csdl|res://*/Models.Entity.DeepBlue.ssdl|res://*/Models.Entity.DeepBlue.msl;provider=System.Data.SqlClient;provider connection string="data source=y1x8qegyll.database.windows.net;initial catalog=DeepBlue;persist security info=True;user id=DeepBlue;password=Hedge123;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>