<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <MSDeployServiceURL>https://deepblue.cloudapp.net:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>DeepBlue_IN_0_Web</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <DeployAsIisApp>False</DeployAsIisApp>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>DeepBlue</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DeepBlueEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbSqlPackage">
            <PreSource Path="Data Source=tcp:y1x8qegyll.database.windows.net,1433;Initial Catalog=DeepBlue;Integrated Security=False;User ID=DeepBlue@y1x8qegyll;Password=Hedge123;Connect Timeout=30;Encrypt=True" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DeepBlueEntities_IncrementalSchemaOnly.dacpac" Action="Publish" AllowIncompatiblePlatform="True" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Entity.DeepBlue.csdl|res://*/Models.Entity.DeepBlue.ssdl|res://*/Models.Entity.DeepBlue.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:y1x8qegyll.database.windows.net,1433;Database=DeepBlue;User ID=DeepBlue@y1x8qegyll;Password=Hedge123;Trusted_Connection=False;Encrypt=True;Connection Timeout=30&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
</Project>